body{
    background-color: rgb(200, 237, 188);
}

/*
    home page
*/

#top{
    display: flex;
    width: 100%;
    align-items: center;
}

#ecoEarth {
    width: 15%;
    height: fit-content;
}

#title {
    width: 85%;
}

#buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#playBtn, #playBtnImg {
    width: 70%;
    background-color: rgb(200, 237, 188);
    border: 0px;
    transition: transform 0.2s;
}

#playA {
    display: flex;
    justify-content: center;
    width: 50%;
}

#playBtnImg:hover {
    transform: scale(1.1);
}

#resetBtn, #PZBtn {
    background-color: #e6b616;
    border: 0px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transition: transform 0.2s;
}

#resetBtn:hover, #PZBtn:hover{
    transform: scale(1.1);
}


#rubbishImg {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

/*
    level select
*/

#levelTop {
    display: flex;
    width: 100%;
    justify-content:space-between;
}

#homeBtn, #homeBtnImg {
    width: 100%;
    height: 100%;
    background-color: rgb(200, 237, 188);
    border: 0px;
    transition: transform 0.2s;
}

#homeBtnImg:hover{
    transform: scale(1.1);
}

#homeA {
    display: flex;
    justify-content: center;
    width: 10%;
    height: fit-content;
}

#RRLogo {
    width: 35%;
    height: fit-content;
}

#invis {
    visibility: hidden;
    width: 10%;
}


#levelSelect {
    display: flex;
    justify-content: space-evenly;
}

#beachLvlA, #forestLvlA {
    width: 45%;
    display: block;
    position: relative;
}

#beachLvlImg, #forestLvlImg {
    width: 100%;
}
